{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__header">
        <h1>{{ udoc.uname }} のブログ</h1>
        {% if handler.user._id === udoc._id %}
          <a href="/blog/{{ udoc._id }}/create" class="button">新規作成</a>
        {% endif %}
      </div>
      <div class="section__body">
        {% if ddocs.length === 0 %}
          <p>ブログ記事がありません。</p>
        {% else %}
          {% for ddoc in ddocs %}
            <div class="blog-entry">
              <h2><a href="/blog/{{ udoc._id }}/{{ ddoc.docId }}">{{ ddoc.title }}</a></h2>
              <p class="meta">
                {{ ddoc._id | formatTime }} |
                閲覧 {{ ddoc.views }} |
                返信 {{ ddoc.nReply }}
              </p>
              <p>{{ ddoc.content | truncate(200) }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="section__body">
        {{ paginator(page, dpcount, '/blog/' + udoc._id + '?page=') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
